TSC_LAB2/work
TSC_LAB2/*.ini
TSC_LAB2/*.wlf
TSC_LAB2/test.v:Zone.Identifier
tsc_lab3/work
tsc_lab3/*.wlf
tsc_lab3/*.ini
tsc_lab3/lab01_testbench-interface/*.f
tsc_lab3/lab01_testbench-interface/*.Identifier
tsc_lab3/lab01_testbench-interface/*.sv
tsc_lab3/lab_dut/*.Identifier
tsc_lab3/test/*.Identifier
tsc_lab4/work
tsc_lab4/*.wlf
tsc_lab4/*.ini
tsc_lab4/lab01_testbench-interface/*.f
tsc_lab4/lab01_testbench-interface/*.Identifier
tsc_lab4/lab_dut/*.Identifier
tsc_lab4/test/*.Identifier
